@import 'tailwindcss';

@font-face {
   font-family: 'Gilroy';
   src: url('/fonts/Gilroy-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('/fonts/Gilroy-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('/fonts/Gilroy-Semibold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('/fonts/Gilroy-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}

.scrollbar-hide::-webkit-scrollbar {
   display: none;
}

.scrollbar-hide {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

@keyframes shimmer {
   0% {
      transform: translateX(-100%);
   }

   100% {
      transform: translateX(100%);
   }
}

@keyframes searchPlaceholderUp {
   0% {
      transform: translateY(100%);
      opacity: 0;
   }

   20% {
      opacity: 1;
   }

   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

.animate-search-placeholder {
   display: block;
   animation: searchPlaceholderUp 0.5s ease-out both;
}

@keyframes restaurantCardIn {
   from {
      opacity: 0;
      transform: translateX(-30px);
   }

   to {
      opacity: 1;
      transform: translateX(0);
   }
}

.restaurant-card-animation {
   opacity: 0;
   animation: restaurantCardIn 0.5s ease-out forwards;
}

@theme inline {
   --font-sans: 'Gilroy', sans-serif;
   --font-heading: var(--font-sans);
}

@layer base {
   body {
      font-family: 'Gilroy', sans-serif;
   }
   html {
      @apply font-sans;
   }
}
