# Operating system
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/.env
frontend/.env.local

# Backend
backend/vendor/
backend/node_modules/
backend/.env
backend/.env.*
backend/storage/*.key
backend/storage/logs/*.log
backend/bootstrap/cache/*.php